<body>
    <div class="container">
        <h1>Resume</h1>
        <div class="experience">
            <div class="h2">
            <h2>Work Experience</h2>
                </div>
                <div class="description">
                    <div class="date-texts">
                        <div class="date">
                            <p>2025 - 2025</p>
                        </div>
                        <div class="texts">
                            <h3>Editor</h3>
                            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                        </div>
                        </div>
                        <div class="date-texts">
                            <div class="date">
                                <p>2025 - Present</p>
                            </div>
                            <div class="texts">
                                <h3>Editor</h3>
                                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                        <div class="date-texts">
                            <div class="date">
                                <p>2025 - Present</p>
                            </div>
                            <div class="texts">
                                <h3>Editor</h3>
                                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="education">
                    <div class="h2">
                    <h2>Education</h2>
                    </div>
                    <div class="description">
                        <div class="date-texts">
                            <div class="date">
                                <p>2025 - Present</p>
                            </div>
                            <div class="texts">
                                <h3>Establishment Name | Master’s Degree</h3>
                                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                            </div>
                        </div>
                        <div class="date-texts">
                            <div class="date">
                                <p>2025 - Present</p>
                            </div>
                            <div class="texts">
                                <h3>Establishment Name | Bachelor's Degree</h3>
                                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you..</p>
                            </div>
                        </div>
                    </div>
            </div>
        <div class="skills-expertise">
                    <div class="h2">
                    <h2>Skills & Expertise</h2>
                    </div>
                    <div class="description">
                        <div class="date-texts">
                            <ul>
                                <li>I'm a paragraph. Click here to add your own text and edit me.</li>
                                <li>I'm a paragraph. Click here to add your own text and edit me.</li>
                                <li>I'm a paragraph. Click here to add your own text and edit me.</li>
                                <li>I'm a paragraph. Click here to add your own text and edit me.</li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>
</body>